{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-react-remove-prop-types",
    ["lodash", { "id": [
      "lodash", "react-placeholder",
      ]}
    ]],
}
