{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-arrow-functions",
    "transform-react-remove-prop-types",
    ["lodash", { "id": [
      "lodash",
      ]}
    ]],
}
