{
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb","react-app"],
  "globals": {
    "page": true,
    "document": true
  },
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "rules": {
    "no-console": "off",
    "import/no-dynamic-require": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true,
        "FunctionExpression": true
      }
    }],
    "react/prefer-stateless-function": "off"
  }
}
