{
  "env": {
    "jest/globals": true
  },
  "extends": "airbnb",
  "globals": {
    "page": true
  },
  "plugins": ["jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
