.grunt/
_SpecRunner.html
bkp
css/discovery.css
css/mirador.css
dev.html
discovery.html
js/discovery
node_modules/
npm-debug.log
coverage/
data/ecodices
data/BnF
data/Harvard
build/
.idea/
bower_components/
