language: node_js
node_js:
  - '5'
before_install:
  - npm install
# before-script:
#   - grunt test cover
script:
  - npm run travis
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8