@import 'variables';

.mirador {
  &-viewer {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .mosaic-window-toolbar {
      display: none;
    }

    .mosaic-window-body {
      .mirador-window-top-bar {
        cursor: move;
      }
    }
  }

  &-companion-window-header {
    flex-wrap: wrap;
  }

  &-companion-window-title-controls {
    order: 1000;
    flex-grow: 1;
  }

  &-companion-window-bottom {
    .mirador-companion-window-title-controls {
      order: unset;
    }
  }

  &-companion-window-header {
    background: $surface-dark;
  }

  &-workspace-viewport {
    background: $surface-dark;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-workspace {
    box-sizing: border-box;
    margin: 0;
    overflow: scroll;
    position: absolute;
  }

  &-workspace-with-control-panel {
    padding-top: 74px; // The height of the control panel
  }

  &-workspace-maximized-window {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10000;
  }

  &-workspace-add {
    height: 100%;
    overflow: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 92px;
  }

  @media (min-width: 600px) {
    &-workspace-with-control-panel {
      padding-left: 100px;
      padding-top: 0;
    }

    &-workspace-add {
      padding-left: 100px;
      padding-top: 18px;
    }
  }

  &-primary-window {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-osd-container {
    flex: 1;
    position: relative;
  }

  div + &-osd-navigation:before {
    content: '|';
    color: $gray;
    position: absolute;
    font-size: 24px;
    top: 12px;
  }

  &-canvas-nav {
    display: flex;
    justify-content: center;
  }

  &-thumb-navigation {

    .mirador-thumbnail-nav-canvas {
      border: 1px solid $black;
      color: $white;
      cursor: pointer;
      height: 100%;

      &.mirador-current-canvas {
        border: 3px solid $blue;
      }
    }
  }
}

// override react-mosaic styles to mimic MUI's elevation
.mosaic {
  &-tile {
    $start: rgba(0, 0, 0, .2);
    $middle: rgba(0, 0, 0, .2);
    $end: rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px 0 $start, 0 1px 1px 0 $middle, 0 2px 1px -1px $end;
  }

  &-window,
  &-preview {
    box-shadow: none;
  }
}
