@import 'variables';

.mirador {
  &-viewer {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .mosaic-window-toolbar {
      display: none;
    }
  }

  &-workspace {
    box-sizing: border-box;
    margin: 0;
    overflow: scroll;
    position: absolute;
    transition-duration: .7s;

    &.react-draggable-dragging {
      transition-duration: unset;
    }
  }

  &-companion-window-header {
    flex-wrap: wrap;
  }

  &-companion-window-title-controls {
    flex-grow: 1;
    order: 1000;
  }

  &-companion-window-bottom {
    .mirador-companion-window-title-controls {
      order: unset;
    }
  }

  &-workspace-with-control-panel {
    padding-top: 74px; // The height of the control panel
  }

  &-workspace-maximized-window {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10000;
  }

  &-workspace-focused-window {
    z-index: 9000;
  }

  &-workspace-add {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 68px;
  }

  @media (min-width: 600px) {
    &-workspace-with-control-panel {
      padding-left: 68px;
      padding-top: 0;
    }

    &-workspace-add {
      padding-left: 68px;
      padding-top: 0;
    }
  }

  &-primary-window {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-osd-container {
    flex: 1;
    position: relative;
  }

  &-osd-navigation {
    order: 1;
  }

  &-osd-info {
    order: 2;
    overflow: hidden;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &-canvas-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &-canvas-nav-stacked {
    flex-direction: column;
  }

  &-label-value-metadata {
    dd {
      margin-bottom: .5em;
      margin-left: 0;
    }
  }
}

// override react-mosaic styles to mimic MUI's elevation
.mosaic {
  &-tile {
    $start: rgba(0, 0, 0, .2);
    $middle: rgba(0, 0, 0, .2);
    $end: rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px 0 $start, 0 1px 1px 0 $middle, 0 2px 1px -1px $end;
  }

  &-window,
  &-preview {
    box-shadow: none;
  }
}
