@import 'variables';

.mirador {
  &-app {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-workspace {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-workspace-with-control-panel {
    padding-left: 100px; // The width of the control panel
  }

  &-workspace-add {
    padding-left: 110px;
    padding-right: 20px;
    padding-top: 20px;
  }

  &-primary-window {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-osd-container {
    background: $gray;
    flex: 1;
    position: relative;
  }

  &-window-sidebar-panel-drawer {
    margin-left: $window-sidebar-width;
  }

  &-companion-bottom {
    background: lighten($black, 60%);
    overflow-y: auto;
    resize: vertical;
  }

  &-osd-navigation {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 33;
  }

  &-thumb-navigation {

    .mirador-thumbnail-nav-canvas {
      border: 1px solid $black;
      color: $white;
      cursor: pointer;
      height: 100%;

      &.mirador-current-canvas {
        border: 3px solid $blue;
      }
    }
  }
}
