@import 'variables';

.mirador {
  &-viewer {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .mosaic-window-toolbar {
      display: none;
    }

    .react-draggable,
    .mosaic-window-body {
      .mirador-window-top-bar {
        cursor: move;
      }
    }
  }

  &-workspace {
    box-sizing: border-box;
    margin: 0;
    overflow: scroll;
    position: absolute;
    transition-duration: .7s;

    &.react-draggable-dragging {
      transition-duration: unset;
    }
  }

  &-companion-window-header {
    background: $surface-dark;
    flex-wrap: wrap;
  }

  &-companion-window-title-controls {
    flex-grow: 1;
    order: 1000;
  }

  &-companion-window-bottom {
    .mirador-companion-window-title-controls {
      order: unset;
    }
  }

  &-workspace-viewport {
    background: $surface-dark;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-workspace-with-control-panel {
    padding-top: 74px; // The height of the control panel
  }

  &-workspace-maximized-window {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10000;
  }

  &-workspace-focused-window {
    z-index: 9000;
  }

  &-workspace-add {
    height: 100%;
    overflow: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 92px;
  }

  @media (min-width: 600px) {
    &-workspace-with-control-panel {
      padding-left: 68px;
      padding-top: 0;
    }

    &-workspace-add {
      padding-left: 68px;
      padding-top: 18px;
    }
  }

  &-primary-window {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-gallery-container {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px 0 50px 20px;
  }

  &-gallery-view-item {
    display: inline-block;
    max-width: 100px;
    height: 160px;
    overflow: hidden;
    text-overflow: elipsis;
    margin: 10px 5px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.1s transform ease-out;

    span {
      textAlign: 'center',
    }

    &.current-canvas {
      border: 2px solid deepskyblue;
      padding: 3px;
    }

    &:hover {
      transition: 0.1s transform ease-out;
      transform: scale(1.05);
      border: 2px solid deepskyblue;
      padding: 3px;
    }

    &:focus {
      outline: none;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &-osd-container {
    flex: 1;
    position: relative;
  }

  div + &-osd-navigation {
    &::before {
      color: $gray;
      content: '|';
      font-size: 24px;
      position: absolute;
      top: 12px;
    }
  }

  &-osd-navigation {
    order: 1;
  }

  &-osd-info {
    order: 2;
    overflow: hidden;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &-canvas-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &-thumb-navigation {

    .mirador-thumbnail-nav-canvas {
      border: 1px solid $black;
      color: $white;
      cursor: pointer;
      height: 100%;

      &.mirador-current-canvas {
        border: 3px solid $blue;
      }
    }
  }

  &-label-value-metadata {
    dd {
      margin-bottom: 0.5em;
      margin-left: 0;
    }
  }
}

// override react-mosaic styles to mimic MUI's elevation
.mosaic {
  &-tile {
    $start: rgba(0, 0, 0, .2);
    $middle: rgba(0, 0, 0, .2);
    $end: rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px 0 $start, 0 1px 1px 0 $middle, 0 2px 1px -1px $end;
  }

  &-window,
  &-preview {
    box-shadow: none;
  }
}
