@import 'variables';

body {
  background: $white;
  height: 100%;
}

.mirador {
  &-workspace {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    overflow: scroll;
    padding-left: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-window-middle-content {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-window {
    display: flex;
    flex-direction: column;
  }

  &-osd-container {
    background: $gray;
    flex: 1;
    position: relative;
  }

  &-window-sidebar {
    background: lighten($gray, 60%);
    height: 100%;
    position: absolute;
    width: 50px;
  }

  &-window-companion-side {
    background: lighten($gray, 40%);
    min-width: 75px;
    overflow-x: auto;
    resize: horizontal;
  }

  &-window-top-bar {
    background: lighten($black, 80%);
  }

  &-companion-bottom {
    background: lighten($black, 60%);
    overflow-y: auto;
    resize: vertical;
  }

  &-osd-navigation {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 33;
  }

  &-thumb-navigation {

    .mirador-thumbnail-nav-canvas {
      border: 1px solid $black;
      color: $white;
      cursor: pointer;
      height: 100%;

      &.mirador-current-canvas {
        border: 3px solid $blue;
      }
    }
  }
}
