$black: #000;
$blue: #00f;
$gray: #808080;
$white: #fff;
$window-top-bar-gradient-top: rgba(0, 0, 0, .65);
$window-top-bar-gradient-bottom: rgba(0, 0, 0, 0);
$window-sidebar-width: 55px;
$primary-dark: #eee;
$surface-dark: #f5f5f5;
